DATABASE_URL=postgresql://hategram:hategram123@localhost:5432/hategram
SECRET_KEY=genera_una_clave_segura_con_python3_-c_"import_secrets;print(secrets.token_hex(32))"
ALGORITHM=HS256
ACCESS_TOKEN_EXPIRE_MINUTES=10080
YOUTUBE_API_KEY=
GEMINI_API_KEY=
